In [28]:
import pandas as pd
import matplotlib as mt
import numpy as np

In [2]:
df = pd.read_csv('indian_liver_patient.csv')

In [12]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
df.shape

(583, 11)

In [7]:
df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [13]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [22]:
x

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40
...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50

In [25]:
#handling missing values
from sklearrn import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy = 'mean')
imputer.fit(x.iloc[:,2:10])
x.iloc[:,2:10] = imputer.transform(x.iloc[:,2:10])

In [26]:
x.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
dtype: int64

In [31]:
#handling categorial values
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers= [('encoder', OneHotEncoder(),[1])], remainder = 'passthrough')
x = np.array(ct.fit_transform(x))

In [36]:
df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [35]:
#spliting dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [38]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:,3:] = sc.fit_transform(x_train[:,3:])
x_test[:,3:] = sc.transform(x_test[:,3:])

In [41]:
x_train[:,0:1] = sc.fit_transform(x_train[:,0:1])
x_test[:,0:1] = sc.transform(x_test[:,0:1])

In [42]:
x_train

array([[-5.69090183e-01,  1.00000000e+00,  4.60000000e+01, ...,
         1.02978855e+00,  1.57860838e+00,  1.05532380e+00],
       [-5.69090183e-01,  1.00000000e+00,  6.40000000e+01, ...,
        -9.09312997e-01,  5.47730509e-02,  1.33343006e+00],
       [ 1.75719074e+00,  0.00000000e+00,  5.30000000e+01, ...,
         1.39914122e+00,  9.43676991e-01, -1.80704031e-01],
       ...,
       [ 1.75719074e+00,  0.00000000e+00,  7.50000000e+01, ...,
        -1.92503285e+00, -1.46906228e+00, -4.89710988e-01],
       [-5.69090183e-01,  1.00000000e+00,  6.00000000e+01, ...,
        -1.83269468e+00, -1.46906228e+00, -4.89710988e-01],
       [ 1.75719074e+00,  0.00000000e+00,  4.60000000e+01, ...,
        -2.01737102e+00, -1.46906228e+00, -4.89710988e-01]])

In [ ]:
#applying models
#decision trees